/* 모든 요소의 기본 마진, 패딩 제거 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 기본 폰트 설정 */
body {
  font-family: "Outfit", sans-serif;
}

a {
  text-decoration: none;
}
ul {
  list-style: none;
}
