// colors
$color-primary: rgb(19, 46, 90);
$color-orange: rgb(235, 167, 42);
$color-sale: rgb(240, 62, 62);
$color-accent: rgb(240, 62, 62);
$color-header-bg: rgba(0, 0, 0, 0.705);
$color-bg: #f0f0f0;
$color-text-light: #fff;
$color-text-dark: #333;
$color-sub: rgb(129, 129, 129);

// fonts
$font-notosans: "Noto Sans KR", sans-serif;
$font-outfit: "Outfit", sans-serif;
$font-lobster: "Lobster", cursive;
$font-pacifico: "Pacifico", cursive;

// breakpoints
$breakpoint-sm: 480px;
$breakpoint-md: 768px;
$breakpoint-lg: 1024px;
$breakpoint-xl: 1440px;
